/* common.css : 헤더 , 푸터 CSS 작성 */

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* -----------------  헤더 CSS  ----------------------  */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000; /* 영상 위에 올라오게 */
    background: transparent; 
    
}
header #top_wrap /* 헤더 큰 묶음 */{ 
    /* background-color: rgb(255, 255, 172); 위치 확인용 색상 */
    display:flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    position: relative;
}

/*  =======================================================  S: 띠 배너 시작 */
header #line_ad_wrap {
    /* background-color: rgb(254, 146, 52); 위치 확인용 색상 */

}
header #line_ad_wrap .line_ad_contents {
    position: relative;
    background-color: #000;
    height: 45px;
}
header #line_ad_wrap .line_ad_contents p {
    text-align: center; 
    width: 100%; height: 40px; 
    line-height: 45px; 
    color:#fff; 
    font-size: 0.875rem; font-weight: 200;
}
header  #line_ad_wrap .line_ad_contents a {position: absolute; right:0; top:10px;}
header  #line_ad_wrap .line_ad_contents a img {
    
}
/*  ========================================================== E: 띠배너 끝 */

/* ========================================================= S: 로고 위치 시작 */
header #top_wrap{
    /* background-color: #663399; */
    padding-left: 96px; padding-right: 96px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* 호버했을때 효과 */
header #top_wrap .menu #gnb_wrap:hover .category li a { 
    /* background-color:#fff;  */
    color:#000;
}
header #top_wrap h1 {
    /* background-color: brown;  */
    width: 190px; 
    /* height: 40px; */
    padding-top: 16px;
    line-height: 20px;
}
header #top_wrap h1 a {}
header #top_wrap h1 a img {
    width: 186px; height: 22px;
}

/* 카테고리 호버했을때 밑줄 효과 */
header .category > li > a {
    position: relative;
    display: inline-block;
    /* background-color: red; */
}

header .category > li > a::after {
    content: '';
    position: absolute; top: 20px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); 
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: all 0.5s ease;
}

header .category > li > a:hover::after {
    width: 100%;
}
/* ============================================================== E: 로고 위치 끝 */

/* S: nav 시작 (로그인 등등과의 형제)*/
header #top_wrap .menu {
    /* background-color: rgb(118, 242, 178); */
    display: flex;
    white-space: nowrap;/* 홈프래그런스 네비 글자 두줄바꿈 방지 */
}

/* gnb 카테고리 시작(고정되는 헤더 카테고리 영역) - gnb_wrap */
header #top_wrap .menu #gnb_wrap {
    /* background-color: rgb(233, 130, 233);  */
    display: flex;
    margin-right: 300px;
    justify-content: start;
    
}

/* ============================================================== 메뉴(ul 카테고리) 리스트 시작 */
header #top_wrap .menu #gnb_wrap .category {/* 네비 카테고리 */
    /* background-color: lime; 위치 확인용 색상 */
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    /* margin-top: 20px;   */
}
header #top_wrap .menu #gnb_wrap .category li {/* 네비+lnb 전체묶음영역  */
    /* background-color: rgb(133, 96, 227); 위치 확인용 색상 */
    margin-right: 50px; 
    /* line-height: 70px; */
    
}
header #top_wrap .menu #gnb_wrap .category li a {
    color: #fff; 
    font-size: 1rem;
    font-weight: 200;

}
header #top_wrap .menu #gnb_wrap .category > li {
    /* background-color: lightsalmon; */
    padding-top: 20px;
}

/* ---------------------  공통선택자 lnb ---------------------*/
header #top_wrap .menu #gnb_wrap .category .lnb{ /* lnb 부모 */
    display: flex;
    justify-content: start;
    align-items: center;
    
}
header #top_wrap .menu #gnb_wrap .category .lnb li {}
header #top_wrap .menu #gnb_wrap .category .lnb li a p{
    padding-top: 10px;
    font-size: 0.875rem;
    
}

/* ------------------------------------------------------------------  */

header #top_wrap .menu #gnb_wrap .category .lnb_bg { /* 네비 누르면 나오는 카테고리 이미지 (자식) */
    display: none;
    /* background-color: aqua;  */
    background-color: #fff;
    position: absolute; 
    width: 100%;
    left:0; top:74px;
    transition: all 0.3s ease;
    z-index: 1000;
    padding-left: 96px;
    padding-top: 30.5px;
    padding-bottom: 30.5px;
}

header #top_wrap .menu #gnb_wrap .category > li:hover .lnb_bg {
    /* background-color:tan; */
}

/* ====================================================== 1. lnb lnb_perfume (퍼퓸 카테고리 시작) */
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_perfume{}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_perfume li {
    border-radius: 10px;

}

header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_perfume li a {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_perfume li a img {
    display: block;
}
header #top_wrap .menu #gnb_wrap .category .lnb_bg li a img:hover {/* 공통 선택 - 호버 효과 */
    box-shadow: 0 0 6px 1px grey;
    border-radius: 10px;
}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_perfume li a img #perfume_01 {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_perfume li a p {}
/* ======================================================= 1. lnb lnb_perfume (퍼퓸 카테고리 끝) */

/* ======================================================== 2. lnb_handlip (핸드앤립 카테고리 시작) */
header #top_wrap .menu #gnb_wrap .category li {}
header #top_wrap .menu #gnb_wrap .category li a {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_handlip {
}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_handlip li {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_handlip li a {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_handlip li a img {    display: block;
}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_handlip li a p {

}
/* ==========================================================2. lnb_handlip (핸드앤립 카테고리 끝) */

/* 3. lnb_body (바디 카테고리 시작) */
header #top_wrap .menu #gnb_wrap .category li {}
header #top_wrap .menu #gnb_wrap .category li a {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_body {

}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_body li {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_body li a {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_body li a img {    display: block;
}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_body li a p {}
/* 3. lnb_body (바디 카테고리 끝) */

/* 4. lnb_home_f (홈 프래그런스 카테고리 시작) */
header #top_wrap .menu #gnb_wrap .category li {
}
header #top_wrap .menu #gnb_wrap .category li a {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_home_f {    
}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_home_f li {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_home_f li a {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_home_f li a img {    display: block;
}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_home_f li a {}
/* 4. lnb_home_f (홈 프래그런스 카테고리 끝) */

/* 5. lnb_store (스토어 카테고리 시작) */
header #top_wrap .menu #gnb_wrap .category li {
}
header #top_wrap .menu #gnb_wrap .category li a {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_store {

}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_store li {

}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_store li a {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_store li a img {    display: block;
}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_store li a p {}
/* 5. lnb_store (스토어 카테고리 끝) / gnb_wrap 끝*/

/* 검색창 시작 */
header #top_wrap .menu #user_menu {
    width: 100%;
    /* background-color: palevioletred; 위치확인용 */
    display: flex;
    position: relative;
}
header #top_wrap .menu #user_menu .search {
    /* background-color: rgb(204, 191, 218); */
    margin-top: 10px;
    /* width: 100%; */
    /* line-height: 40px; */
}
    
header #top_wrap .menu #user_menu .search input {
    font-family: 'SUIT-Regular';
    color: #fff;
    padding: 30px;
    background: transparent;
    border-bottom: 1px solid #fff;
    /* align-items: center;/ */
    padding: 5px;    
    position: relative;
    margin: 3px;
}
header #top_wrap .menu #user_menu .search .search_btn {
    position: absolute;
    top: 2px; bottom: 20px; right: 20px;
}
header #top_wrap .menu #user_menu .search .search_btn img { 
    /* margin-bottom: -5px; */
    position: absolute;
    top: 20px; left: -100px; 
    width: 16px; height: 16px;
}
/* 검색창 끝 */

/* 오른쪽 user_menu */
header #top_wrap .menu #user_menu .right_menu{ 
    /* background-color: skyblue; */
    position: relative;
    margin-left: 10px;
    line-height: 40px;
    margin-top: 14px;
}
header #top_wrap .menu #user_menu .right_menu a {
    /* background-color: red; */
    
}

/* 언어변경 */
header #top_wrap .menu #user_menu .right_menu a .lang{
    margin-right: 10px;
    width: 20px; height: 20px;
}

/* 로그인 */
header #top_wrap .menu #user_menu .right_menu a .login {
    margin-right: 10px;
    width: 20px; height: 20px;
}

/* 장바구니 */
header #top_wrap .menu #user_menu .right_menu a .header_cart { width: 20px; height: 20px;}


/* 검색창 - 파란색 X표시 제거 */
.search input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

/* --------------------------- 푸터 css --------------------------*/
footer {
    width: 100%;
    height: 390px;
    /* background-color: yellowgreen; */
    background-color: #000;
    padding-left: 217px;
    padding-right: 217px;
    padding-top: 61.5px;
    padding-bottom: 61.5px;

}

footer #footer_wrap{
    /* border: 2px solid rebeccapurple; */
}
footer #footer_wrap .footer_top{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    margin-bottom: 40px;
}
/* 푸터 - 매장안내 */
footer #footer_wrap .footer_top .top_contents_1{
    margin-right: 100px;
}
footer #footer_wrap .footer_top .top_contents_1 a{
    
}
footer #footer_wrap .footer_top .top_contents_1 a p{
    margin-bottom: 20px;
    font-size: 0.75rem;
    font-weight: 300;
    color: #fff;

}
footer #footer_wrap .footer_top .top_contents_1 a p em{
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
}
/* 푸터 - 고객서비스 */
footer #footer_wrap .footer_top .top_contents_2{
    margin-right: 100px;

}
footer #footer_wrap .footer_top .top_contents_2 a{}
footer #footer_wrap .footer_top .top_contents_2 a p{
    margin-bottom: 20px;
    font-size: 0.75rem;
    font-weight: 300;
    color: #fff;
}
footer #footer_wrap .footer_top .top_contents_2 a p em{
    font-weight: 500;
    font-size: 1rem;
    color: #fff;

}

/* 푸터 - 법적고지 */
footer #footer_wrap .footer_top .top_contents_3{}
footer #footer_wrap .footer_top .top_contents_3 a{}
footer #footer_wrap .footer_top .top_contents_3 a p{
    margin-bottom: 20px;
    font-size: 0.75rem;
    font-weight: 300;
    color: #fff;

}
footer #footer_wrap .footer_top .top_contents_3 a p em{
    font-weight: 500;
    font-size: 1rem;
    color: #fff;

}

/* 푸터 bottom */
footer #footer_wrap .footer_bottom {
    /* background-color: teal; */
    font-size: 0.75rem; 
    font-weight: 200;
    font-family: 'SUIT',sans-serif;
    display: flex;
    justify-content: space-between;


}
footer #footer_wrap .footer_bottom address{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
footer #footer_wrap .footer_bottom p {
    color: #fff;
    line-height: 1.4;
    font-size: 0.675rem;
    font-weight: 100;
}
footer #footer_wrap .footer_bottom p a{}
footer #footer_wrap .footer_bottom p a em{
    text-decoration: underline;
    color: #fff;
}

/* 푸터 sns */
footer #footer_wrap .footer_bottom .sns_wrap{
    width: 100%;
    text-align: right;
    padding-top: 30px;
}
footer #footer_wrap .footer_bottom .sns_wrap a{
    /* padding-left:500px; */
}
footer #footer_wrap .footer_bottom .sns_wrap a img{
    margin-right: 12px;
}
footer #footer_wrap .footer_bottom .sns_wrap a #weibo {
    padding:2px;
}