/* common.css : 헤더 , 푸터 CSS 작성 */

/* 헤더 CSS */
header {
    width: 100%;
    height: 100px;
}
header #top_wrap /* 헤더 큰 묶음 */{ }

/* S: 띠 배너 시작 */
header #top_wrap #line_ad_wrap {background-color: #000;}
header #top_wrap #line_ad_wrap .line_ad_contents {}
header #top_wrap #line_ad_wrap .line_ad_contents p {
    background-color: red;
    text-align: center; width: 100%; height: 40px; line-height: 40px; color: #fff; font-size: 0.875rem; font-weight: 200;
}
header #top_wrap #line_ad_wrap .line_ad_contents a {
    position: absolute; right:0; top:10px;

}
header #top_wrap #line_ad_wrap .line_ad_contents a img {}
/* E: 띠배너 끝 */

/* S: 로고 위치 시작 */
header #top_wrap h1 {background-color: blue;}
header #top_wrap h1 a {
    width:220px; height: 40px;
    padding: 96px;
}
header #top_wrap h1 a img {}
/* E: 로고 위치 끝 */

/* S: nav 시작 */
header #top_wrap .menu {
    background-color: lime;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
}

/* gnb 카테고리 시작(고정되는 헤더 카테고리 영역) - gnb_wrap */
header #top_wrap .menu #gnb_wrap {
}

/* 메뉴 리스트 시작 */
header #top_wrap .menu #gnb_wrap .category {
    display: flex;
    flex-flow: row nowrap; width: 594px;
}
header #top_wrap .menu #gnb_wrap .category li {
    margin: 0 auto;
}
header #top_wrap .menu #gnb_wrap .category li a {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg {}

/* 1. lnb lnb_perfume (퍼퓸 카테고리 시작) */
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_perfume{}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_perfume li {display: none;}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_perfume li a {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_perfume li a img {}
/* 1. lnb lnb_perfume (퍼퓸 카테고리 끝) */

/* 2. lnb_handlip (핸드앤립 카테고리 시작) */
header #top_wrap .menu #gnb_wrap .category li {}
header #top_wrap .menu #gnb_wrap .category li a {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_handlip {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_handlip li {display: none;}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_handlip li a {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_handlip li a img {}
/* 2. lnb_handlip (핸드앤립 카테고리 끝) */

/* 3. lnb_body (바디 카테고리 시작) */
header #top_wrap .menu #gnb_wrap .category li {}
header #top_wrap .menu #gnb_wrap .category li a {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_body {display: none;}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_body li {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_body li a {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_body li a img {}
/* 3. lnb_body (바디 카테고리 끝) */

/* 4. lnb_home_f (홈 프래그런스 카테고리 시작) */
header #top_wrap .menu #gnb_wrap .category li {}
header #top_wrap .menu #gnb_wrap .category li a {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_home_f {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_home_f li {display: none;}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_home_f li a {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_home_f li a img {}
/* 4. lnb_home_f (홈 프래그런스 카테고리 끝) */

/* 5. lnb_store (스토어 카테고리 시작) */
header #top_wrap .menu #gnb_wrap .category li {}
header #top_wrap .menu #gnb_wrap .category li a {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_store {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_store li {display: none;}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_store li a {}
header #top_wrap .menu #gnb_wrap .category .lnb_bg .lnb_store li a img {}
/* 5. lnb_store (스토어 카테고리 끝) / gnb_wrap 끝*/

/* 검색창 시작 */
header #top_wrap .menu #user_menu {
    border: 1px solid teal;
    display: flex;
}
header #top_wrap .menu #user_menu .search {
    background-color: rgb(204, 191, 218);
    
}
    
header #top_wrap .menu #user_menu .search input {}
header #top_wrap .menu #user_menu .search input .search_btn {
    position: absolute; top: 0; right: 2px;
}
header #top_wrap .menu #user_menu .search input .search_btn img {}
/* 검색창 끝 */

/* 오른쪽 user_menu */
header #top_wrap .menu #user_menu .right_menu{ 
    background-color: skyblue;
    margin-left: 15px;
}
header #top_wrap .menu #user_menu .right_menu a {
    margin-right: 10px;
}

/* 언어변경 */
header #top_wrap .menu #user_menu .right_menu a .lang{}

/* 로그인 */
header #top_wrap .menu #user_menu .right_menu a .login {}

/* 장바구니 */
header #top_wrap .menu #user_menu .right_menu a .cart {}


/* 검색창 - 파란색 X표시 제거 */
.search input[type="search"]::-webkit-search-cancel-button {
    display: none;
}