body * {
}


/* main - 1행 , 2행, 3행,4행, 5행-배너1, 6행,7행 */
main{}

/* 1행 : 신제품 영상  시작 */
main .first_video {
    display: block;
    width: 100%;
    height: 1000px;
    position: relative;
    overflow: hidden;
    z-index: 1;
} 
main .first_video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    /* min-height: 100%; */
    transform: translate(-50%, -50%); /* 중앙배치 */
    object-fit: cover;
} 
/* 1행 : 신제품 영상  끝 */

/*  ====================================================================== 2행 : 신제품  (스와이퍼) 시작 */
main .new_product{
    width: 100%;
    background-color: skyblue;
    padding-bottom: 228px;
    position: relative;
}
main .new_product h1{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    padding-top: 85.5px;
}
main .new_product > p{
    text-align: center;
    margin-top: 25px;
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 60px;
}
main .new_product .new_wrap{}
main .new_product .new_wrap .swiper {}
main .new_product .new_wrap .swiper .swiper-wrapper {
    background-color: brown;
    width:1494px;
    margin: 0 auto;
    padding-left: 20px;
}
main .new_product .new_wrap .swiper .swiper-wrapper .swiper-slide{
    width: 337px;
    margin-right: 50px;
    position: relative;
}
main .new_product .new_wrap .swiper .swiper-wrapper .swiper-slide a{
}
main .new_product .new_wrap .swiper .swiper-wrapper .swiper-slide a #porduct{
}
main .new_product .new_wrap .swiper .swiper-wrapper .swiper-slide a #cart{
    position: absolute;
    top:20px; right: 50px;
}
main .new_product .new_wrap .swiper .swiper-wrapper .swiper-slide a .txt_box{
    background-color: #f5f5f5;
    text-align: center;
    width: 310px;
    height: 120px;
    padding-top: 10px;
    

}
main .new_product .new_wrap .swiper .swiper-wrapper .swiper-slide a .txt_box > p em{
    font-size: 1rem;
    font-family: 'SUIT',sans-serif;
}
main .new_product .new_wrap .swiper .swiper-wrapper .swiper-slide a .txt_box p {
    font-family: 'SUIT',sans-serif;
    font-size: 0.75rem;
    font-weight: 200;


}
main .new_product .new_wrap .swiper .swiper-wrapper .swiper-slide a .txt_box p:nth-child(3) {
    margin: 10px 0;
    color: #B9B9B9;

}
main .new_product .new_wrap .swiper .swiper-wrapper .swiper-slide a .txt_box p span{
    font-family: 'SUIT',sans-serif;
    font-size: 0.75rem;
    font-weight: 200;
}
/* 2행 : 스와이퍼 공통 선택자 */

/*  ============================================================================= 2행 : 신제품 (스와이퍼) 끝 */

/* 3행 : 전시 예약 시작 */
main .reservation {
    margin:0 auto 0;
    height:auto;
    overflow: hidden;
    position: relative;

}
main .reservation #show_video{
    width: 100%;
}
main .reservation #show_txt_contents{
    position:absolute;
    bottom:240px;
    padding-left: 207px; 

}
main .reservation #show_txt_contents h1 {
    font-size: 6.25rem;
    color: #fff;
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
    
}
main .reservation #show_txt_contents h1 span {
    color: #fff;
    font-family:'Platypi',serif;
    font-weight: 200;

}
main .reservation #show_txt_contents p {
    color: #fff;
    line-height: 140%;
    font-family:'Platypi',serif;
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 10px;
}

main .reservation #show_txt_contents p span {
    font-size: 1.25rem;
    color: #fff;
    font-family: 'SUIT',sans-serif;
}
main .reservation #show_txt_contents .show_btn{
    background-color: #fff;    
    height: 35px;
    width: 150px;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

main .reservation #show_txt_contents .show_btn #reservation_btn {
    width: 100%;
}
main .reservation #show_txt_contents .show_btn #reservation_btn p {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    font-family: 'SUIT',sans-serif;
    letter-spacing: 10%;
    color: #000;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}
/* 마우스 올렸을때 효과 - 3행 예약버튼 */
main .reservation #show_txt_contents .show_btn:hover {
    background-color: #000;
}
main .reservation #show_txt_contents .show_btn:hover #reservation_btn p {
    color: #fff;
}
/* 3행 : 전시 예약 끝 */

/* ========================================================================================================== 4행 : 더 탬버린즈 퍼퓸 상품 (탭구조 스와이퍼) 시작 */

/* ===========================================================================================================4행 : 더 탬버린즈 퍼퓸 상품 (탭구조 스와이퍼) 끝 */

/* 5행 : 보타리 캔들 이벤트 배너  시작 */
main .event #event_bnr{
    /* background-color: rgb(255, 255, 157); */
    background-image: url(../images/bnr/bottari_candle_bnr.png);
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 77px;
    padding-bottom: 77px;
    margin: 0 auto;
}
main .event #event_bnr h1{
    font-size: 3.125rem;
    margin-bottom: 15px;
    color: #fff;
}
main .event #event_bnr p{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 22px;
    color: #fff;
}
main .event #event_bnr p em{
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}
main .event #event_bnr a {
    color: #fff;
    font-size: 1rem;
    font-size: 700;
}
main .event #event_bnr a em {
    color: #fff;
    font-size: 1rem;
    font-size: 700;
}
main .event #event_bnr .underline-link {
    position: relative;
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.5px;
  text-decoration: none;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}
main .event #event_bnr .underline-link::after {
    content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: #fff;
  transition: width 0.4s ease;
}
main .event #event_bnr .underline-link:hover::after {
  width: 100%;
}
/* 5행 : 보타리 캔들 이벤트 배너 끝 */

/* 6행 : 기프트 이벤트 배너  시작 */
main .gift {
    background-color: #F8FAFB;
    width: 100%;
    height: 600px;
    padding-top: 108px;
}
main .gift h1{
    text-align: center;
    font-size: 1.875rem;
    font-weight: 500;
    margin-bottom: 10px;
}
main .gift p{
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 150%;
}
main .gift .gift_images{
    display: flex;
    justify-content: center;
}
main .gift .gift_images .gift_item{
    margin: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;

}
main .gift .gift_images .gift_item img{
    width: 378px; height: 290px;
    border-radius: 20px;
    transition: opacity 0.3s ease;
}
main .gift .gift_images .gift_item .overlay{
    width: 100%;
    /* height: 100%; */
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute; bottom:0; 
    padding: 18px;
    display: none;
    opacity: 1;
    transition: all 0.4s ease-in-out;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
main .gift .gift_images .gift_item .overlay p{
    font-size: 0.875rem;
    color: #000;
    line-height: 150%;
}
/* (6행 기프트 이벤트) 마우스 호버했을때 나타나는 효과 */
main .gift_item:hover img {
    transform: scale(1.05);
    opacity: 1;
    border-radius: 20px;
}
main .gift .gift_images .gift_item:hover .overlay{
    opacity: 1;
    display: block;
}
/* 6행 : 기프트 이벤트 배너 신제품 끝 */

/* ================================================================================== 7행 : 인스타그램  (스와이퍼) 시작 */
/* ===================================================================================7행 : 인스타그램 (스와이퍼) 끝 */

/* 8행 : 카피문구 광고 배너 시작 */
/* 8행 : 카피문구 광고 배너 끝*/