/* main - 1행 , 2행, 3행,4행, 5행-배너1, 6행,7행 */
main{}

/* 1행 : 신제품 영상  시작 */
main .first_video {
    display: block;
    width: 100%;
    height: 930px;
    position: relative;
    overflow: hidden;
    z-index: 1;
} 
main .first_video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    /* min-height: 100%; */
    transform: translate(-50%, -50%);
    object-fit: cover;
} 
/* 1행 : 신제품 영상  끝 */

/* 2행 : 신제품  시작 */
/* 2행 : 신제품 끝 */

/* 3행 : 전시 예약  시작 */
/* 3행 : 전시 예약

/* 4행 : 더 탬버린즈 퍼퓸 상품  시작 */
/* 4행 : 더 탬버린즈 퍼퓸 상품 끝 */

/* 5행 : 이벤트 배너  시작 */
/* 5행 : 이벤트 배너 끝 */

/* 6행 : 기프트 이벤트 배너  시작 */
/* 6행 : 기프트 이벤트 배너 신제품 끝 */

/* 7행 : 인스타그램  시작 */
/* 7행 : 인스타그램 끝 */